# 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

# 2. Use .format() to print the following string.
## Output should  be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet= "Earth"
diameter=12742

In [ ]:
str = "The diameter of {} is {} kilometers"
print(str.format(planet,diameter))

The diameter of Earth is 12742 kilometers

# 3.In this next dictionary grab the word "hello"

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [4]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [5]:
import numpy as np

# 4.1 Create an array of 10 zeros

In [6]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

# 4.2 Create an array of 10 fives

In [7]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

# 5. Create an array of all the even integers from 20 to 35

In [8]:
np.arange(20,36,2)

array([20, 22, 24, 26, 28, 30, 32, 34])

# 6. Create a 3x3 matrix with values ranging from 0 to 8

In [9]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

# 7. Concatenate a and b
# a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [10]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.concatenate((a,b),axis = None)

array([1, 2, 3, 4, 5, 6])

# Pandas

# 8. Create a dataframe with 3 rows and 2 columns

In [11]:
import pandas as pd

In [12]:
d = {"Name":["Joe","Suriya","Bala"],"GraduationYear":[2023,2021,2022]}
print(pd.DataFrame(d))

     Name  GraduationYear
0     Joe            2023
1  Suriya            2021
2    Bala            2022

# 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [13]:
date = pd.date_range(start = "1-1-2023" , end="2-10-2023")
for val in date:
  print(val)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

# 10. Create 2D list to DataFrame
lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [14]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [15]:
print(pd.DataFrame(lists))

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24